.header {
  background-color: #ebebeb;
  border: 1px solid #b3b3b3;
    }

#wdim268topleft , #finalprojectheaderimg , #search  {
  padding: 15px;
}


.nav{
    background: #e6e6e5;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    box-shadow: 10px 10px 5px #888888;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}

.body  {
  height: 300px;
  background-image: url('http://i.imgur.com/5L345j9.jpg');
  border: 2px solid green;
}

.navigation2 {
  border: 2px solid pink;
}

.body2  {
  border: 2px solid yellow;
}

.footer  {
  background: #4b4d4a;
  height: 450px;
  border: 2px solid purple;
}

#twitterstuff {
  text-decoration: underline;
  padding-bottom: 10px;
}

#twitterbox {
  width: 350px;
  height: 200px;
  margin-top: -262px;
  margin-left: 850px;
}

#statusbox{
  background: url('http://i.imgur.com/tkH3POn.jpg');
  background-repeat: no-repeat;
  width: 225px;
  height: 155px;
  padding: 15px;
}

#advertising  {
  font-family: "Open Sans Condensed Light";
  text-decoration: underline;
  padding-left: 8px;
  padding-bottom: 4px;
}

#adbox  {
  width: 335px;
  margin-top: 38px;
  margin-left: 595px;
}

#ads  {
  padding: 8px;
}

#recentcomments {
  text-decoration: underline;
  margin-top: -200px;
  margin-left: 375px;
}
#blog {
  text-decoration: underline;
  margin-top: -18px;
  margin-left: 150px;
}
.footer2  {
  background: #dcdcda;
  height: 45px;
}