header{
    width: 100%; 
    background-color: rgb(221, 221, 221);
    box-shadow: 0 5px 6px -6px black;
    margin-top: -17px;
    z-index: 1; 
    position: relative;
}

.headerwrapper  {
    width: 1000px;
    margin: 0 auto;
}

.headerstrip h1 {
    font-family: "Fertigo";
    -webkit-text-stroke: 1px rgb(177, 177, 177);
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.headerstrip img {
    margin: 20px 10px;
}

.headerstrip li {
    display: inline;
    float: left;
}

.headerstrip {
    border-bottom: 2px solid #adadad;
}

#topimg  {
    margin-left: 0px;
}

.search img {
    margin-top: 30px; 
    margin-left: 32%;
}

nav {
    clear: both;
    margin-left: 25px;
    padding: 2px;
    width: 1000px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin-right: 18px;
}

nav a {
    color: rgb(126, 124, 124); 
    text-decoration: none;
    font-size: 12px;
}


.homepage {
    color: #1f1f1f;
    font-weight: bold;
}

nav a:hover {
    color: black;
    background-color: rgb(230, 158, 52);
    padding: 5px;
    border: 1px solid rgb(158, 100, 25);
    border-radius: 5px;
}

.bodybanner {
    background: radial-gradient(circle, #59c1ff, #0089ba);
    color: rgb(253, 253, 253);
    padding: 20px 10px; 
    margin: 0 auto; 
}

.bannerimg {
    padding-top: 35px;
    padding-left: 650px;
}

.leftside {
    margin-top: -420px;
    margin-left: 168px;
    padding-bottom: 350px;
}

h3 {
    font-size: 55px;
    font-family: Open Sans Condensed;
    font-weight: 300;
}

#promise  {
    margin-top: -15px;
}