/****************HTML BODY STUFF****************/

html  {
    max-width: 1400px;
    min-width: 1200px;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0px auto;
  }

body  {
    width: 100%;
    background: radial-gradient(circle, #60c1ff, #0089ba);
    margin-left: -15px;
}

html, body {
    width:100%;
    height:100%;
    margin: 0px auto;
}

/****************HEADER STUFF****************/

header  {
    width: 100%; 
    background-color: rgb(221, 221, 221);
    box-shadow: 0 5px 6px -6px black;
    margin-top: -17px;
    z-index: 1; 
    position: relative;
}

.headerwrapper  {
    width: 1000px;
    margin: 0 auto;
}

.headerstrip img {
    margin: 20px 10px;
}

.headerstrip li {
    display: inline;
    float: left;
}

.headerstrip {
    border-bottom: 2px solid #adadad;
}

#topimg  {
    margin-left: 0px;
}

.search img {
    margin-top: 30px; 
    margin-left: 32%;
}

/****************NAV STUFF****************/

nav {
    clear: both;
    margin-left: 25px;
    padding: 2px;
    width: 1000px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin-right: 18px;
}

nav a {
    color: rgb(126, 124, 124); 
    text-decoration: none;
    font-size: 12px;
    padding: 7px;
}

.login  {
    margin-left: 200px;
    margin-right: 5px;
    font-weight: 700;
}

.signup  {
    padding: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1.5px solid #8acad8;
    background-color:  #2794cd;
    color: white;
}

nav a:hover {
    color: black;
    background-color: rgb(230, 158, 52);
    padding: 6px;
    border: 1px solid rgb(158, 100, 25);
    border-radius: 5px;
}

/****************MAIN CONTENT BANNER STUFF****************/

.bodybanner {
    height: 450px;
    width: 100%;
    margin-bottom: -55px;
    background: radial-gradient(circle, #60c1ff, #0089ba);
    color: rgb(253, 253, 253);
}

#bannerimg {
    float: right;
    margin-right: 165px;
    margin-top: 55px;
}

.leftside {
    float: left;
    margin-left: 175px;
    margin-top: -25px;
    margin-bottom: -25px;
}

h3 {
    font-size: 50px;
    font-family: Open Sans Condensed;
    font-weight: 300;
    margin-bottom: -15px;
}

.promise  {
    margin-top: -75px;
}

.because  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}

.because2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-15px;
    font-size: 18px;
    font-weight: 500;
}

.grat  {
    font-family:"Arial Black", Gadget, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.quote  {
    font-size: 12px;
    margin-top:-10px;
}

.getaquote {
    margin-top: 55px;
}

/****************PRE FOOTER****************/

.prefooterwrap  {
    background-color: #d7d7d7;
}

.prefooter  {
    height: 125px;
    background-color: #d7d7d6;
    margin-top: 35px;
}

.prefooter ul  {
    height: 70px;
    padding-top: 75px;
    margin-left: 135px;
    margin-right: 77px;
}

.prefooter li  {
    display: inline-block;
    float: left;
}

#footerhello  {
    float: left;
    margin-left: 120px;
    margin-top: 45px;
}

.footer2  {
    height: 450px;
    margin-top: -35px;
    margin-bottom: -35px;
    margin-left: 45px;
}

#freelance  {
    color: #227ab0;
    font-style: italic;
    margin-left: 25px;
}

#wemakethebest  {
    width: 500px;
    float: right;
    margin-top: 5px;
    margin-right: 150px;
    display: inline-block;
    white-space: normal;
}

h4  {
    font-size: 32px;
    color: #227ab0;
    margin-top: 60px;
}

#wemakethebest p  {
    margin-bottom: -15px;
}

#wemakethebestleft, #wemakethebestright  {
    width: 260px;
    margin-left: -90px;
    margin-right: 0px;
    margin-top: -75px;
    display: inline-block;
    white-space: normal;
}

#wemakethebestleft  {
    float: left;
    margin-left: -50px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#wemakethebestright  {
    float: right;
    width: 246px;
    margin-top: 15px;
    margin-right: 75px;
}

#wemakethebest li  {
    list-style:none;
    padding: 8px;
}

#because  {
    margin-top: -25px;
}

#peskyproject  {
    width: 300px;
}

#bottomquote    {
    width: 450px;
    margin-top: -50px;
    margin-left: 0px;
    display: inline-block;
    white-space: normal;
}

.bottomquotebox  {
    width: 975px;
    height: 275px;
    background-color: #f8f7f7;
    border: 15px solid #e5e5e5;
    margin: 0px auto;
}

#thebestagency  {
    width: 950px;
    padding-top: 15px;
    padding-left: 45px;
    font-weight: 700;
    color: #d05606;
}

#johndoequote  {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;    
    font-style: italic;
    font-size: 30px;
    color: #666666;
    width: 900px;
    text-indent: 12px;
    margin-top: -35px;
    padding: 45px;
    display: inline-block;
    white-space: normal;
}

#awesomenesslogo  {
    float: right;
    padding-right: 25px;
}

#said  {
    font-size: 12px;
    float: right;
    margin-top: 15px;
}

/****************FOOTER****************/


#bottomspacer  {
    height: 55px;
}


.footertopbar  {
    height: 15px;
    background-color:  rgb(221, 221, 221);
    border: 2px solid rgb(126, 124, 124);
}


footer  {
    width: 100%;
    background-color: #4b4d4a;
    height: 500px;
    margin: 0px auto;
    display: block;
}


/****************FOOTER CATAGORIES****************/

.footerwrapper  {
    width: 100%;
    margin-left: 10px
}

/***Blog***/
.latestblog  {
    width: 190px;
    height: 400px;
    float: left;
    padding: 30px;
    margin-left: 85px;
    margin-top: -10px;
}
#blogdate  {
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

#blogtitle  {
    font-weight: 700;
    margin-bottom: -7px;
    margin-top: 27px;
    color: white;
}

#blogpost p  {
    margin-bottom: -12px;
    color: white;
}

/***Recent Comments***/

.recentcomments  {
    width: 200px;
    height: 400px;
    float: left;
    padding: 25px;
    margin-top: -5px;
    margin-left: 40px;
}

#commenter  {
    margin-left: 35px;
    margin-top: -25px;
    font-weight: 700;
    color: white;
}

#comment  {
    margin-top: 15px;
    padding-left: 24px;
    margin-bottom: 30px;
    color: white;

}

/***Ad Boxes***/
.advertising  {
    width: 200px;
    height: 400px;
    float: left;
    padding: 25px;
    margin-top: -7px;
    margin-left: 35px;
}

/***tweeter box***/
.twitterstuff  {
    width: 200px;
    height: 400px;
    float: left;
    padding: 25px;
    margin-top: -8px;
}

h1 {
    font-family: Open Sans Condensed;
    text-decoration: underline;
    font-weight: 300;
    color: #c2c2c2;
    font-size: 18px
}

.bottomnav  {
    width: 100%;
    height: 55px;
    background-color: rgb(221, 221, 221);
}

#wdim268  {
    float: left;
    margin-left: 135px;
    margin-top: 19px;
    font-weight: 700;
    color: gray;
}

#legal  {
    padding-top: 20px;
    margin-left: 230px;
    font-weight: 300;
    font-size: 12px;
    color: gray;
}