header{
    width: 100%; 
    background-color: rgb(221, 221, 221);
    box-shadow: 0 5px 6px -6px black;
    margin-top: -17px;
    z-index: 1; 
    position: relative;
}

.headerwrapper  {
    width: 1000px;
    margin: 0 auto;
}

.headerstrip img {
    margin: 20px 10px;
}

.headerstrip li {
    display: inline;
    float: left;
}

.headerstrip {
    border-bottom: 2px solid #adadad;
}

#topimg  {
    margin-left: 0px;
}

.search img {
    margin-top: 30px; 
    margin-left: 32%;
}

nav {
    clear: both;
    margin-left: 25px;
    padding: 2px;
    width: 1000px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin-right: 18px;
}

nav a {
    color: rgb(126, 124, 124); 
    text-decoration: none;
    font-size: 12px;
    padding: 7px;
}

.login  {
    margin-left: 210px;
}

.homepage {
    color: #1f1f1f;
    font-weight: bold;
}

nav a:hover {
    color: black;
    background-color: rgb(230, 158, 52);
    padding: 6px;
    border: 1px solid rgb(158, 100, 25);
    border-radius: 5px;
}

.bodybanner {
    background: radial-gradient(circle, #60c1ff, #0089ba);
    color: rgb(253, 253, 253);
    padding: 20px 10px; 
    margin: 0 auto; 
}

.bannerimg {
    padding-top: 35px;
    padding-left: 650px;
}

.leftside {
    margin-top: -420px;
    margin-left: 168px;
    padding-bottom: 100px;
}

h3 {
    font-size: 55px;
    font-family: Open Sans Condensed;
    font-weight: 300;
}

#promise  {
    margin-top: -15px;
}

#because  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: -20px;
}

#because2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:-15px;
    font-size: 18px;
    font-weight: 500;
}

#grat  {
    font-family:"Arial Black", Gadget, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

#quote  {
    font-size: 12px;
    margin-top:-10px;
}

.getaquote {
    width: 300px;
    float: left;
}

.prefooter  {
    height: 500px;
    background-color: #d7d7d6;
    margin-top: -35px;
}

.prefooter ul  {
    padding-top: 55px;
    margin-left: 40px;
}

.prefooter li  {
    display: inline;
    float: left;
}

#footerhello  {
    margin-top: 100px;
    margin-left: 150px;
}

footer  {
    background-color: gray;
    height: 300px;
}

.footertopbar  {
    height: 15px;
    background-color:  rgb(221, 221, 221);
    border:2px solid rgb(126, 124, 124);
}